<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="/public/styles/base.css">
  </head>
  <body>
    <header><h1>Form</h1></header>
    <main>
      <form action="/search" method="post">
        
            
        <label>
          
          <input name="name" placeholder="Enter a title or author"/>
        </label>

        <label>
      
          
          <input type="radio" name="select" value="author"> Author<br>
          <input type="radio" name="select" value="title"> Title<br>

        </label>

        <button>search</button>
      </form>
    </main>

</h1>
  </body>
</html