<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="/public/styles/base.css">
  </head>
  <body>
    <header><h1>Form</h1></header>
    <main>
      <form action="/search" method="POST">
        
            <p><a href="/show">List of book</a></p>
            <!-- <p><a href="/books">search for a Books</a></p> -->
        <label>
          
          <input name="name" placeholder="Enter a title or author"/>
        </label>

        <label>
      
          
          <input type="radio" name="select" value="Author"> Author<br>
          <input type="radio" name="select" value="Title"> Title<br>

        </label>

        <button>search</button>
      </form>
    </main>

</h1>
  </body>
</html