<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="/public/styles/base.css">
  </head>
  <body>
    <header><h1>Form</h1></header>
    <main>
            <p><a href="/show">List of book</a></p>
            <!-- <p><a href="/books">search for a Books</a></p> -->
        <label>
          <span>Author name</span>
          <input name="name" />
        </label>
        <label>
          <span>Book name</span>
          <input type="book" name="searchResult" />
        </label>
        <button>search</button>
      </form>
    </main>

</h1>
  </body>
</html